<h3>

    Personaje <small>{{ personaje.nombre }}</small> </h3>

<a class="btn btn-outline-danger btn-sm" [routerLink]="['/personajes']" role="button">Regresar</a> &nbsp;
<a (click)="addNewPersonaje(forma)" class="btn btn-outline-success btn-sm" [routerLink]="['/personajes']" role="button">Nuevo Personaje</a>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" #forma="ngForm">

            <div class="form-group">
                <label>Nombre</label>
                <input [(ngModel)]="personaje.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre personaje" required>
            </div>

            <div class="form-group">
                <label>Serie</label>
                <select [(ngModel)]="personaje.serie" name="serie" class="form-control" name="serie">
                <option>Seleccione una serie</option>
                <option>Dinamic</option>
              </select>
            </div>

            <div class="form-group">
                <label>Frase</label>
                <textarea [(ngModel)]="personaje.frase" name="frase" class="form-control" name="frase" rows="3"></textarea>
            </div>


            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>

        </form>
    </div>
</div>